.q-planner {
  &__product {
    background-image: url('../images/products/shirt-white-front.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    position: relative;
  }

  &__zone {
    position: absolute;
    border: 4px dashed var(--color-secondary);
  }
}

.q-planner-settings {
  background: #fff;
  box-shadow: var(--shadow-level-1);

  &__title {
    background: var(--color-background-primary);
    font-weight: bold;
    padding: var(--grid-gap);
  }
}
