.c-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 87.5%;
  display: inline-block;
  height: 46px;
  position: relative;
  text-decoration: none;
  width: 46px;

  &--small {
    background-size: 60%;
  }

  &--cart {
    background-image: url('../images/icons/cart.svg');

    &.c-icon--white {
      background-image: url('../images/icons/cart-white.svg');
    }
  }

  &--person {
    background-image: url('../images/icons/person.svg');

    &.c-icon--white {
      background-image: url('../images/icons/person-white.svg');
    }
  }

  &--brush {
    background-image: url('../images/icons/brush.svg');

    &.c-icon--white {
      background-image: url('../images/icons/brush-white.svg');
    }
  }

  &--facebook {
    background-image: url('../images/icons/facebook.svg');

    &.c-icon--white {
      background-image: url('../images/icons/facebook-white.svg');
    }
  }

  &--instagram {
    background-image: url('../images/icons/instagram.svg');

    &.c-icon--white {
      background-image: url('../images/icons/instagram-white.svg');
    }
  }

  &--twitter {
    background-image: url('../images/icons/twitter.svg');

    &.c-icon--white {
      background-image: url('../images/icons/twitter-white.svg');
    }
  }

  &--eye {
    background-image: url('../images/icons/eye.svg');

    &.c-icon--white {
      background-image: url('../images/icons/eye-white.svg');
    }

    &.c-icon--brand {
      background-image: url('../images/icons/eye-brand.svg');
    }
  }

  &--error {
    background-image: url('../images/icons/error.svg');

    &.c-icon--white {
      background-image: url('../images/icons/error-white.svg');
    }
  }

  &--success {
    background-image: url('../images/icons/success.svg');

    &.c-icon--white {
      background-image: url('../images/icons/success-white.svg');
    }
  }

  &__badge {
    align-items: center;
    background: var(--color-primary);
    border-radius: 100%;
    color: #fff;
    display: inline-flex;
    font-size: 12px;
    height: 16px;
    justify-content: center;
    min-width: 16px;
    padding: 0 4px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(calc(25% - 9px)) translateY(9px);
    user-select: none;
  }
}
