.c-input {
  border-bottom: 2px solid var(--color-form-text-placeholder);
  padding-bottom: 6px;
  position: relative;
  transition: border .2s;

  @include hover {
    border-bottom: 2px solid var(--color-form-border-active);

    .c-input__label {
      &:before {
        background-color: var(--color-form-border-active);
      }

      &:after {
        color: var(--color-form-text);
      }
    }
  }

  &--inverse {
    border-bottom: 2px solid rgba(var(--color-primary-rgb), .5);

    @include hover {
      border-bottom: 2px solid rgba(var(--color-primary-rgb), .7);

      .c-input__label {
        &:before {
          background-color: var(--color-primary);
        }

        &:after {
          color: var(--color-primary);
        }
      }
    }
  }

  &--small {
    margin-bottom: 32px;
    padding-bottom: 4px;
  }

  &__field {
    border: 0;
    background: #fff;
    color: var(--color-form-text);
    font-size: 24px;
    height: 48px;
    letter-spacing: .4px;
    line-height: 32px;
    margin: 32px 0 0;
    padding: 12px 0 0;
    vertical-align: top;
    width: 100%;

    &:active,
    &:focus {
      outline: 0;
    }

    &:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }

    &:-moz-placeholder {
      color: transparent;
    }

    .c-input--inverse & {
      background: transparent;
      color: var(--color-text-body-inverse);
    }

    .c-input--small & {
      font-size: 16px;
      height: 32px;
      line-height: 24px;
      margin: 24px 0 0;
      padding: 8px 0 0;
    }

    &--textarea {
      max-height: 200px;
      padding-top: 14px;
      resize: none;

      .c-input--small & {
        padding-top: 8px;
      }
    }
  }

  &__label {
    &:before {
      background-color: var(--color-form-border);
      bottom: -2px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transition: width .2s;
      width: 0;
      will-change: width;

      .c-input__field:focus + &,
      .c-input__field:not(:placeholder-shown) + & {
        width: 100%;
      }

      .c-input--inverse & {
        background-color: rgba(var(--color-primary-rgb), .7);
      }
    }

    &:after {
      align-items: center;
      color: var(--color-form-text-placeholder);
      content: attr(data-label);
      display: flex;
      font-size: 24px;
      height: 48px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 38px;
      transition: color .2s, font-size .2s, top .2s;
      will-change: color, font-size, top;

      .c-input__field:focus + &,
      .c-input__field:not(:placeholder-shown) + & {
        color: var(--color-form-text);
        font-size: 20px;
        height: 32px;
        top: 8px;
      }

      .c-input--inverse & {
        color: rgba(var(--color-primary-rgb), .5);
      }

      .c-input--inverse .c-input__field:focus + &,
      .c-input--inverse .c-input__field:not(:placeholder-shown) + & {
        color: var(--color-primary);
      }

      .c-input--small & {
        font-size: 16px;
        height: 24px;
        top: 32px;
      }

      .c-input--small .c-input__field:focus + &,
      .c-input--small .c-input__field:not(:placeholder-shown) + & {
        font-size: 14px;
        height: 16px;
        top: 8px;
      }
    }
  }
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}
