.c-tabs {
  display: flex;
  padding: 0;
}

.c-tab {
  border-top: 4px solid transparent;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  flex: 1 1 0;
  font-weight: bold;
  height: 64px;
  text-decoration: none;
  transition: background .2s;

  @include hover() {
    background: var(--color-background-secondary);
    color: var(--color-primary);
  }

  &--active {
    background-color: var(--color-background-white);
    border-top: 4px solid var(--color-primary);
    cursor: default;

    @include hover() {
      background: var(--color-background-white);
    }
  }

  &__content {
    align-items: center;
    border-right: 1px solid var(--color-background-secondary);
    display: flex;
    justify-content: center;
    width: 100%;

    .c-tab:last-of-type & {
      border-right: 1px solid transparent;
    }
  }
}
